<div style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-size:14px;font-weight:400;color:#091e42;line-height:20px;background:#ffffff;margin-left:8px;margin-right:8px">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td align="center">
                <div style="max-width:520px;margin:0 auto">
                    <div style="vertical-align:top;text-align:left;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-size:14px;font-weight:400;color:#091e42;line-height:20px">
                        <div style="padding-top:30px;padding-bottom:20px;vertical-align:top;text-align:center"><a
                                href="https://www.atlassian.com" target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://www.atlassian.com&amp;source=gmail&amp;ust=1644580071500000&amp;usg=AOvVaw1sLq7aBdc5cVpPB5KVw8CN">
                            <img src="https://i.ibb.co/bXXM72b/easifi-dark-logo.png"
                                 height="30" alt="Atlassian logo" style="border:0" class="CToWUd"></a></div>
                        <hr style="margin-top:24px;margin-bottom:24px;border:0;border-bottom:1px solid #c1c7d0">
                        <h2 style="margin-bottom:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-size:20px;font-weight:500;color:#172b4d;line-height:24px;margin-top:28px">
                            We have received your request</h2>
                        <p style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-size:14px;font-weight:400;color:#091e42;line-height:20px;margin-top:12px">
                            Hi,</p>
                        <p style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-size:14px;font-weight:400;color:#091e42;line-height:20px;margin-top:12px">
                            We noticed that you recently attempted to use your <span>Google</span> account to log in.
                        </p>
                        <p style="font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-size:14px;font-weight:400;color:#091e42;line-height:20px;margin-top:12px">
                            Please verify by pasting the code below:</p>
                        <table cellpadding="0" cellspacing="0"
                               style="box-sizing:border-box;border-spacing:0;width:auto;border-collapse:separate!important">
                            <tbody>
                            <tr>
                                <td align="center" bgcolor="#348eda"
                                    style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;background-color:#348eda;border-radius:2px;text-align:center"
                                    valign="top"><a
                                        href="https://u298828.ct.sendgrid.net/ss/c/KeecV0-eUYdPWIcLaNcQIk8KHRb5oSkirDE8JL2zHb43giRdffV4A9P-M2zuA5z8yn9k718SwxXLtsouqB_R0O55ERXeLn0ds7a6ThnkVIhw5R4CdUnuKmbjjJGs4N_u-Y_q1d42X8m2X86YFqjRx_9bRKSaslAVP_nAOnlb_BC8b07KySOnmAfB3qGhQe7SlcF_ECqQijcP0RkgbUWviwjLl8GXj_M9WYsnYmP3XsXCQ6upGi00wyzfbI0PcnAEiZIFRglCR_8olEm26HN1dRpGM4fXzHSwzf-JV4b1LVXfLxVN2uCjhL0iF_XQAxqlvJVdYFURBV5zvZntADnzoly1va9jcQuF2VN8US4mGg-s8JqIH9yinq1NipjitNsK2OSl6rnhzt_asagwZdqwpHH9OMC8t65uVrwFIU9D9nhqbdPLDIrv-XP-wVtGamEPvffOb6XSPKEIAd18vktctn_v3_Kq_N1b55UnHkLU8ys/3iu/mma-zmz3TOW4GiofMnlZgg/h9/0UAuBRShM-fvhI-v0kFLHzvGVnmXvhoC9lvb-buuZiE"
                                        style="box-sizing:border-box;border-color:#348eda;font-weight:400;text-decoration:none;display:inline-block;margin:0;color:#ffffff;background-color:#348eda;border:solid 1px #348eda;border-radius:2px;font-size:14px;padding:12px 45px"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://u298828.ct.sendgrid.net/ss/c/KeecV0-eUYdPWIcLaNcQIk8KHRb5oSkirDE8JL2zHb43giRdffV4A9P-M2zuA5z8yn9k718SwxXLtsouqB_R0O55ERXeLn0ds7a6ThnkVIhw5R4CdUnuKmbjjJGs4N_u-Y_q1d42X8m2X86YFqjRx_9bRKSaslAVP_nAOnlb_BC8b07KySOnmAfB3qGhQe7SlcF_ECqQijcP0RkgbUWviwjLl8GXj_M9WYsnYmP3XsXCQ6upGi00wyzfbI0PcnAEiZIFRglCR_8olEm26HN1dRpGM4fXzHSwzf-JV4b1LVXfLxVN2uCjhL0iF_XQAxqlvJVdYFURBV5zvZntADnzoly1va9jcQuF2VN8US4mGg-s8JqIH9yinq1NipjitNsK2OSl6rnhzt_asagwZdqwpHH9OMC8t65uVrwFIU9D9nhqbdPLDIrv-XP-wVtGamEPvffOb6XSPKEIAd18vktctn_v3_Kq_N1b55UnHkLU8ys/3iu/mma-zmz3TOW4GiofMnlZgg/h9/0UAuBRShM-fvhI-v0kFLHzvGVnmXvhoC9lvb-buuZiE&amp;source=gmail&amp;ust=1644580945009000&amp;usg=AOvVaw0d239fs_Ft9S7rEcVAEpxw">
                                    Click Here For Email Verification</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <hr style="margin-top:24px;margin-bottom:24px;border:0;border-bottom:1px solid #c1c7d0">
                        <div style="color:#707070;font-size:13px;line-height:19px;text-align:center;margin-top:10px">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff"
                                   align="center">
                                <tbody>
                                <tr>
                                    <td valign="top" align="center"
                                        style="padding-top:10px;line-height:18px;text-align:center;font-weight:none;font-size:12px;color:#505f79">
                                        <span>This message was sent to you by Atlassian Cloud</span><br></td>
                                </tr>
                                <tr valign="top">
                                    <td align="center" style="padding-top:15px;padding-bottom:30px"><a
                                            href="https://www.atlassian.com" target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://www.atlassian.com&amp;source=gmail&amp;ust=1644580071500000&amp;usg=AOvVaw1sLq7aBdc5cVpPB5KVw8CN"><img
                                            src="https://ci5.googleusercontent.com/proxy/zIOVA2ab3bb8vFu6rLdIa9bwEmhKYRnK4uizA8zEYuHEHS5KDGJE-NEVwrs7_NEhUxid-wHZqBG1Ic7djSh763B_pibY83IfcwX-OevYWB-YJrq-apGh90n__trodVg8iORj5gxA6JY=s0-d-e1-ft#https://id-mail-assets.atlassian.com/shared/id-summit/id-summit-logo-email-footer.png"
                                            width="114" border="0" alt="Atlassian" style="display:block;color:#4c9ac9"
                                            class="CToWUd"></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <img src="https://ci5.googleusercontent.com/proxy/QusLrtxf9crj6qFPGS8T-NlRV_FNaAnZke__LYUukfYdVahn2Ca5f1VED_0sosrcw-QKV3iaFeyoL-9Ov0v_V0wPLU_VT7rDM28L_wHdudJYrNm4eA2raBPWtqb8DDSoLtaEIV2gpTszDV-SSYq9MAwaUav0z2wrEVQg5Nyx7OVLKy_nZrsTaku3aZrTuNaphvCTyBRFztMnl0nPBl2LPPTFz-6EuMTsTiz18eEpX4UgI1ujtK2iYbmyyTrWP8afJkBc5vUgGPp08ataqXTcLKxnA4TQr_YmY9anIsOhlJ6_CyN-6W1i_0prVoCG3Eajj9WRsSdTT504EePQ9WQ5Y1Jlnz1yJw94ggGinIpZS1B1S004fGU79PEyS_ck9Kxn61k6lLQGFWfVjrZFdTZWnRwNVcsZ_26ADYllKCzVcqzI2gw=s0-d-e1-ft#https://link.notifications.atlassian.com/wf/open?upn=t0xAH6wN5yLWB1O-2FjXyXf-2FWOvVg8-2FtqqwaIcXoNATPegHK7F68Tuw8QaG0J-2F3EM890UrgwEEz85i6J1R6vgZ258-2Fl3xPlaaAW2oyxkFcwf3m5GqqYROZYuvZsCoa2Zz4tHWPJJ8Oc1iBYOsWuGJoi7TuO20YYUu5p804x-2FUDHijP1MHQiMJSOeUr2k0PE6DZ9uXuNDSS15uVkDZG2RYxGgXtXzBXirMXKiEgxMyd8Ig-3D"
         alt="" width="1" height="1" border="0"
         style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important"
         class="CToWUd">
    <div class="yj6qo"></div>
    <div class="adL">
    </div>
</div>